name: Tag and Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  create-tag:
    name: Create and Push Tag
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Extract Version from docker-compose.yml
        id: extract_version
        run: |
          version=$(grep 'image: ghcr.io/jackson085/my_test:' docker-compose.yml | sed -E 's/.*:(.*)/\1/')
          echo "VERSION=$version" >> $GITHUB_ENV

      - name: Tag snapshot
        uses: tvdias/github-tagger@v0.0.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.VERSION }}
